@import "/src/styles/variables";
@import "/src/styles/mixins";

footer {
  padding-top: 100px;
  margin-top: 50px;

  .footerContent {
    width: 100%;
    background-color: $primary-color;

    // inbox Style

    .inboxDiv {
      padding: 50px;
      margin-bottom: -50px;
      border: 2px solid $primary-color;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      box-shadow: $shadow;
      transform: translateY(-100px);

      &-header {
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        color: #555;
      }

      &-formDiv {
        margin: 40px auto 0px auto;
        width: max-content;

        &_form {
          input[type="email"] {
            font-size: 16px;
            padding: 10px 20px;
            width: 400px;
            border: 1px solid $primary-color;
            border-radius: 10px 0 0 10px;
            border-right: none;
          }

          button {
            @include btnFormatter($primary-color, #fff);
            font-size: 16px;
            border-radius: 0 10px 10px 0;
            border: 1px solid $primary-color;
            border-right: none;

            &:hover {
              transform: none;
              box-shadow: none;
              background-color: darken($color: $primary-color, $amount: 10);
            }
          }
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/images/inboxBackground.jpg);
        background-position: top;
        background-size: cover;
        z-index: -1;
      }
    }

    @media (max-width: 768px) {
      .inboxDiv {
        padding: 50px 20px;

        &-header {
          font-size: 28px;
        }

        &-formDiv_form {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          input {
            width: 100% !important;
            border-radius: 10px 10px 0px 0px !important;
            text-align: center;
            border-right: 1px solid $primary-color !important;
            box-sizing: content-box;
          }
          button {
            border: 1px solid $primary-color !important;
            border-radius: 0 0px 10px 10px;
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    .column {
      header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        svg {
          fill: #fff;
          height: 45px;
          width: 200px;

          &.icon {
            width: 25px;
            height: 25px;
            margin-right: 10px;
          }
        }

        h1 {
          color: #fff;
          font-size: 25px;
          margin: 0;
        }
      }

      main {
        display: flex;
        flex-wrap: wrap;

        p {
          font-size: 16px;
          color: #fff;
          padding-right: 40px;
        }

        a {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 16px;
          color: #e5e5e5;
          text-decoration: none;
          margin: 5px 0;
          text-shadow: none;
          transition: all 0.2s ease-in-out;

          svg {
            width: 25px;
            height: 25px;
            fill: #e5e5e5;
            margin-right: 5px;
            box-shadow: none;
            transition: all 0.2s ease-in-out;
            border-radius: 50%;
          }

          &.link {
            font-size: 16px;
          }

          &:hover {
            color: #fff;
            text-shadow: 0px 0px 3px #555;

            svg {
              fill: #fff;
              box-shadow: 0px 6px 4px -4px #333;
            }

            &.link {
              text-shadow: none;
            }
          }
        }
      }
    }

    .copyrightDiv {
      width: 100%;
      padding: 15px 0;
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: 30px;

      p {
        text-align: center;
        color: #fff;
        margin: 0;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 992px) {
  footer {
    .footerContent {
      .column {
        margin-bottom: 20px;

        main {
          a {
            width: auto;
            margin: 5px 10px;
          }
        }
      }
    }
  }
}
