<div class="cartItem">
    <div>
        <img src="{{bookCartItem.imgLink}}">
        <div>
            <p>{{bookCartItem.name}}</p>
            <p class="bookAuthor">{{bookCartItem.authorName}}</p>
            <p class="bookPrice">${{bookCartItem.haveDiscount?bookCartItem.priceAfterDiscount:bookCartItem.price}}.00</p>
        </div>
    </div>
    <div class="deleteDiv" (click)="deleteBook()">
        <svg>
            <use xlink:href="../../../../../assets/svgs/icons.svg#delete"></use>
        </svg>
    </div>
</div>