<div class="cartItem">
    <div>
        <img src="{{bookData?.imgLink}}">
        <div>
            <p>{{bookData?.name}}</p>
            <p class="bookAuthor">{{bookData?.authorName}}</p>
            <p class="bookPrice">${{bookData?.haveDiscount?bookData?.priceAfterDiscount:bookData?.price}}.00</p>
        </div>
    </div>
    <div class="deleteDiv" (click)="deleteBook()">
        <svg *ngIf="!isDeleting">
            <use xlink:href="../../../../../assets/svgs/icons.svg#delete"></use>
        </svg>
        <img *ngIf="isDeleting" src="/assets/svgs/loading.svg" />
    </div>
</div>