@import '/src/styles/variables';

.cartItem {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: default;

    &>div{
        display: flex;
        align-items: center;
    }

    img {
        width: 50px;
        height: 80px;
        border-radius: 10px;
    }

    p {
        font-size: 18px;
        color: #222;
        margin: 0 10px;
        display: block;

        &.bookAuthor,
        &.bookPrice {
            font-size: 16px;
            color: #555;
        }

    }

    &:hover {
        background-color: #eee;
    }

    .deleteDiv {
        align-self: stretch;
        margin: -10px -10px -10px 0;
        border-radius: 0px 10px 10px 0;
        transition: all .2s ease-in-out;
        cursor: pointer;
        
        svg {
            width: 25px;
            height: 100px;
            fill: $error-color;
            margin: 0px 10px;
            transition: all .2s ease-in-out;

        }

        &:hover {
            background-color: $error-color;
            svg {
                fill: #fff;
            }
        }
    }
}