<div class="author">
    <img class="author-img" src="/assets/images/male1.jpg">
    <h1 class="author-name">Moemen Said</h1>
    <p class="author-noOfBooks">10 Books</p>
    <p class="author-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis asperiores officia
        deserunt labore doloremque dicta iusto eveniet architecto nulla, explicabo quam placeat assumenda adipisci
        repellat nemo dolorem commodi quisquam in!</p>
    <div class="author-connectionDiv">
        <a class="author-connectionDiv_link">
            <svg>
                <use xlink:href="/assets/svgs/footer.svg#facebook"></use>
            </svg>
        </a>
        <a class="author-connectionDiv_link">
            <svg>
                <use xlink:href="/assets/svgs/footer.svg#twitter"></use>
            </svg>
        </a>
        <a class="author-connectionDiv_link">
            <svg>
                <use xlink:href="/assets/svgs/footer.svg#linkedin"></use>
            </svg>
        </a>
    </div>
</div>

<author-books></author-books>

<other-authors></other-authors>