<div class="outerDiv">
  <div class="innerDiv" [class]="{'error':errOccurred}">
    <div class="imgDiv">
      <svg class="icon">
        <use xlink:href="../../../../assets/svgs/icons.svg#logoIconOnly"></use>
      </svg>
      <svg class="text">
        <use xlink:href="../../../../assets/svgs/icons.svg#logoTextOnly"></use>
      </svg>
      <p class="slogan">The Best Online Book Store</p>
      <!-- <p class="loginType">Reader Login</p> -->
    </div>
    <div class="formDiv animate__animated" [class]="{'animate__headShake':errOccurred}">
      <p>Login using</p>
      <div class="socialDiv">
        <!-- <button>
                    <svg>
                        <use xlink:href='/assets/svgs/icons.svg#facebook'></use>
                    </svg>
                </button> -->
        <button>
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#google"></use>
          </svg>
        </button>
      </div>
      <p class="orDivider">OR</p>
      <p class="errorMsg animate__animated" [class]="{'animate__bounceIn':errOccurred}">{{errMsg}}</p>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <div class="inputDiv" [ngClass]="{ invalid: emailInput.invalid && emailInput.dirty }">
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#email"></use>
          </svg>
          <input type="email" autocomplete="email" placeholder="Email" name="email" required email ngModel #emailInput="ngModel" />
        </div>
        <div class="inputDiv" [ngClass]="{ invalid: passInput.invalid && emailInput.dirty }">
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#password"></use>
          </svg>
          <input type="password" autocomplete="current-password" placeholder="Password" name="password" minlength="6" required password ngModel #passInput="ngModel" />
        </div>
        <button type="submit" class="signInBtn">
          <span *ngIf="!isLoading">Sign in</span>
          <img *ngIf="isLoading" src="/assets/svgs/loading.svg" />
        </button>
        <div class="linksDiv">
          <a routerLink="/Account/passwordReset">Forget password</a>
          <a routerLink="/Account/signup">Not a Member yet ?</a>
        </div>
      </form>
    </div>
  </div>
</div>