<div class="outerDiv">

    <div class="innerDiv" *ngIf="!isSubmitted" [ngClass]="{ 'animate__animated animate__headShake error' :isErrorOccured}">
        <div class="formDiv">
            <h1>FORGET YOUR PASSWORD ?</h1>
            <p>Enter your email and we'll email you with link to create a new password</p>
            <form (submit)="onReset(resetForm)" #resetForm="ngForm">
                <div class="inputDiv" [ngClass]="{ invalid: emailInput.invalid && emailInput.touched}">
                    <svg>
                        <use xlink:href='/assets/svgs/icons.svg#email'></use>
                    </svg>
                    <input type="email" placeholder="Email" autocapitalize="email" name="email" required ngModel #emailInput="ngModel">
                </div>
                <div class="resMsg">{{message}}</div>
                <div class="btnsDiv">
                    <button type="submit" class="resetBtn">Reset</button>
                    <button type="button" class="backBtn" routerLink="/Account/signin"> Back</button>
                </div>
            </form>
        </div>
    </div>
    <div class="innerDiv animate__animated animate__fadeIn" *ngIf="isSubmitted">
        <div class="afterSubmition">
            <p>Check your email</p>
            <object data="/assets/images/mailBox.svg"></object>
                <div class="btnsDiv">
                    <!-- <button class="resendBtn" [disabled]="isResended" (click)="onResend()">Resend</button> -->
                    <button type="button" class="backBtn" routerLink="/">Home</button>
                </div>
                <!-- <p class="resendAlert animate__animated animate__bounceIn" *ngIf="isResended">
                    An email has been sent
                </p> -->
        </div>
    </div>
</div>