<div class="outerDiv">
    <div class="innerDiv">
        <div class="formDiv">
            <h1>FORGET YOUR PASSWORD ?</h1>
            <p>Enter your email and we'll email you with link to create a new password</p>
            <form>
                <div class="inputDiv">
                    <svg>
                        <use xlink:href='/assets/svgs/account.svg#email'></use>
                    </svg>
                    <input type="email" placeholder="Email">
                </div>
                <div class="btnsDiv">
                    <button class="resetBtn">Reset</button>
                    <button type="button" class="backBtn" routerLink="/Account/signin"> Back</button>
                </div>
            </form>
        </div>
    </div>
</div>