<div class="data">
    <div class="data-main">
        <div class="data-main_imgCont">
            <img alt="user profile image" src="/assets/images/male1.jpg" />
        </div>
        <div class="data-main_basic">
            <h1>Moemen Said</h1>
            <div class="numbers">
                <div>
                    <svg>
                        <use xlink:href="/assets/svgs/icons.svg#book"></use>
                    </svg>
                    <span>5</span>
                    <span>book</span>
                </div>
                <div>
                    <svg>
                        <use xlink:href="/assets/svgs/icons.svg#blog"></use>
                    </svg>
                    <span>7</span>
                    <span>post</span>
                </div>
                <div>
                    <svg>
                        <use xlink:href="/assets/svgs/icons.svg#follower"></use>
                    </svg>
                    <span>30</span>
                    <span>follow</span>
                </div>
            </div>
            <div class="follow">
                <button>follow</button>
            </div>
        </div>
    </div>
</div>