<div class="outerDiv">
    <header>
        <h2>Moemen's Posts</h2>
        <a>View all</a>
    </header>

    <main>
        <div class="post">
            
            <h3>Header</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus amet similique consequatur accusamus assumenda ullam possimus, doloremque sit ab beatae deserunt perspiciatis
                minima, aperiam eos quidem. Totam cupiditate eligendi culpa.</p>
            <img src="/assets/images/inboxBackground.jpg">
        </div>
        <div class="post">
            <h3>Header</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus amet similique consequatur accusamus assumenda ullam possimus, doloremque sit ab beatae deserunt perspiciatis
                minima, aperiam eos quidem. Totam cupiditate eligendi culpa.</p>
            <img src="/assets/images/inboxBackground.jpg">
        </div>
        <div class="post">
            <h3>Header</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus amet similique consequatur accusamus assumenda ullam possimus, doloremque sit ab beatae deserunt perspiciatis
                minima, aperiam eos quidem. Totam cupiditate eligendi culpa.</p>
            <img src="/assets/images/inboxBackground.jpg">
        </div>
        <div class="post">
            <h3>Header</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus amet similique consequatur accusamus assumenda ullam possimus, doloremque sit ab beatae deserunt perspiciatis
                minima, aperiam eos quidem. Totam cupiditate eligendi culpa.</p>
            <img src="/assets/images/inboxBackground.jpg">
        </div>
    </main>

    <footer>
        <button>
            <svg>
                <use xlink:href="/assets/svgs/icons.svg#plus"></use>
            </svg>
            <span>Add a new post</span>
        </button>
    </footer>
</div>