@import '../../../styles/variables';

.outerDiv {
    background-color: #f0f0f0;
    padding-bottom: 20px;

    // position: relative;
    // height: 600px;
}

// .shapes {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     padding: 0;
//     margin: 0;

//     li {
//         position: absolute;
//         display: block;
//         list-style: none;
//         width: 20px;
//         height: 20px;
//         background: $primary-color;
//         animation: shapesAnimation 25s linear infinite;
//         bottom: -150px;

//         &:nth-child(1) {
//             left: 25%;
//             width: 80px;
//             height: 80px;
//             animation-delay: 0s;
//         }

//         &:nth-child(2) {
//             left: 10%;
//             width: 60px;
//             height: 60px;
//             animation-delay: 2s;
//             animation-duration: 12s;
//         }

//         &:nth-child(3) {
//             left: 70%;
//             width: 20px;
//             height: 20px;
//             animation-delay: 4s;
//         }

//         &:nth-child(4) {
//             left: 40%;
//             width: 60px;
//             height: 60px;
//             animation-delay: 0s;
//             animation-duration: 18s;
//         }

//         &:nth-child(5) {
//             left: 65%;
//             width: 20px;
//             height: 20px;
//             animation-delay: 0s;
//         }

//         &:nth-child(6) {
//             left: 75%;
//             width: 110px;
//             height: 110px;
//             animation-delay: 3s;
//         }

//         &:nth-child(7) {
//             left: 35%;
//             width: 150px;
//             height: 150px;
//             animation-delay: 7s;
//         }

//         &:nth-child(8) {
//             left: 50%;
//             width: 25px;
//             height: 25px;
//             animation-delay: 15s;
//             animation-duration: 45s;
//         }

//         &:nth-child(9) {
//             left: 20%;
//             width: 15px;
//             height: 15px;
//             animation-delay: 2s;
//             animation-duration: 35s;
//         }

//         &:nth-child(10) {
//             left: 85%;
//             width: 150px;
//             height: 150px;
//             animation-delay: 0s;
//             animation-duration: 11s;
//         }
//     }
// }

.offersDiv {
    &-title {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #555;
        padding: 40px 0;
        margin: 0;;
    }

    &-row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 10px;

        &::-webkit-scrollbar {
            height: 7px;
        }

        >div {
            max-width: 200px;
            z-index: 10;
        }

        .offerBookDiv {
            cursor: pointer;
            box-shadow: 0px 0px 5px #aaa;
            border-radius: 5px;
            overflow: hidden;
            transition: all .2s ease-in-out;
            position: relative;

            &-img {
                width: 100%;
                height: 270px;
            }

            &-discount{
                position: absolute;
                top: 20px;
                left: 0;
                padding: 10px 20px;
                background-color: #f3f362;
                font-size: 16px;
                font-weight: 600;
            }

            &-data {
                background-color: #fff;
                padding: 5px;

                &_title {
                    margin: 0px;
                    color: #333;
                }

                &_author {
                    margin: 0;
                    color: #555;
                }
                &_priceDiv{
                    margin-top: 10px;
                    &-before{
                        font-size: 17px;
                        text-decoration: line-through;
                        color: #555;
                        margin-right: 15px;
                    }
                    &-after{
                        font-size: 20px;
                        font-weight: 600;
                        color:$dark-primary-color;
                    }
                }
            }

            &:hover {
                box-shadow: 0px 0px 10px #888;
            }
        }
    }

}

@media(max-width:992px) {

    .outerDiv {
        padding: 0px 15px;
    }

    .offersDiv-row {
        justify-content: space-between;

        .offerBookDiv {
            margin: 0px 20px 10px 0;
        }

        .col-12 {
            width: auto;
        }
    }
}

@keyframes shapesAnimation {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}