<div class="outerDiv">
    <div class="offersDiv container">
        <h1 class="offersDiv-title">LIMITED TIME OFFER</h1>
        <div class="offersDiv-row">
            <div *ngFor="let book of books" class="col-lg-2 col-md-4 col-12 p-0">
                <div class="offerBookDiv">
                    <img src="{{book.imgLink}}" class="offerBookDiv-img">
                    <div class="offerBookDiv-discount">
                        <span>{{book.discount}}</span>
                        <span>% OFF</span>
                    </div>
                    <div class="offerBookDiv-data">
                        <h1 class="offerBookDiv-data_title">{{book.name}}</h1>
                        <h3 class="offerBookDiv-data_author">{{book.author}}</h3>
                        <div class="offerBookDiv-data_priceDiv">
                            <span class="offerBookDiv-data_priceDiv-before">${{book.price}}</span>
                            <span class="offerBookDiv-data_priceDiv-after">${{book.priceAfterDiscount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>