@import '/src/styles/variables';

.author {
    padding: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px #ddd;
        transition: inherit;
    }

    &-name {
        text-align: center;
        margin: 0;
        color: #333;
        transition: inherit;
    }

    &-noOfBooks {
        text-align: center;
        color: #fff;
        transition: inherit;
        margin: 0;
    }

    &:hover {

        img {
            transform: translateY(-5px);
        }

        .author-name {
            color: #fff;
        }


    }
}

@media(max-width:768px) {
    .author {
        &-img {
            width: 100px;
            height: 100px;
        }

        &-name {
            font-size: 20px;
        }

        &-noOfBooks {
            font-size: 16px;
        }
    }
}