<div class="container-xxl container-fluid">
    <div class="outerDiv">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="imgCont">
                    <img alt="user profile image" src="/assets/images/male1.jpg" />
                    <button>Change</button>
                </div>
            </div>
            <div class="col-12 col-lg-9">

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Full name</p>
                            <p> Moemen Said</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form>
                            <input type="text">
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>username</p>
                            <p>moemen.said</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form>
                            <input type="text">
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Email</p>
                            <p>moemen.said@gmail.com</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form>
                            <input type="text">
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>password</p>
                            <p>********</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form class="passwordForm">
                            <input type="password" placeholder="old password">
                            <input type="password" placeholder="new password">
                            <input type="password" placeholder="re-enter the new password">
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Bio</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nesciunt quaerat deserunt, libero nostrum, odio autem soluta est pariatur ipsum quos.</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form class="bioForm">
                            <textarea></textarea>
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Favourites</p>
                            <div class="favourites">
                                <div class="favourites-item">
                                    <button></button>
                                    <p>Drama</p>
                                </div>
                                <div class="favourites-item">
                                    <button></button>
                                    <p>Romance</p>
                                </div>
                                <div class="favourites-item">
                                    <button></button>
                                    <p>Science fiction</p>
                                </div>
                            </div>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form class="favouritesForm">
                            <select>
                                <option>Select</option>
                                <option>Action</option>
                                <option>Drama</option>
                                <option>Romance</option>
                                <option>Science fiction</option>
                            </select>
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Location</p>
                            <p>Egypt, Alexandria</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form>
                            <input type="text">
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Phone</p>
                            <p>+2 01156731303</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>New one</p>
                        <form>
                            <input type="text">
                            <button>update</button>
                        </form>
                    </div>
                </div>

                <div class="dataCont">
                    <div class="dataCont-innerDataShow">
                        <div>
                            <p>Social media</p>
                        </div>
                        <button toggleEdit data-state="0">edit</button>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>facebook</p>
                        <form>
                            <input type="text" placeholder="facebook profile link">
                            <button>update</button>
                        </form>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>twitter</p>
                        <form>
                            <input type="text" placeholder="twitter profile link">
                            <button>update</button>
                        </form>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>linkedin</p>
                        <form>
                            <input type="text" placeholder="linkedin profile link">
                            <button>update</button>
                        </form>
                    </div>
                    <div class="dataCont-innerDataEdit">
                        <p>instagram</p>
                        <form>
                            <input type="text" placeholder="instagram profile link">
                            <button>update</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>