<div class="outerDiv">
  <div class="innerDiv" [ngClass]="{ 'animate__animated animate__headShake error' :isErrorOccured}" *ngIf="!isPassResetted">
    <div class="formDiv">
      <h1>Create new password</h1>
      <form (submit)="onReset(resetForm)" #resetForm="ngForm">
        <div
          class="inputDiv"
          [ngClass]="{
            invalid:
              isPassMismatch || (firstPassword.invalid && firstPassword.touched)
          }"
        >
          <svg>
            <use xlink:href="/assets/svgs/account.svg#password"></use>
          </svg>
          <input
            type="password"
            placeholder="Enter the new password"
            minlength="6"
            required
            ngModel
            name="firstPassword"
            #firstPassword="ngModel"
            (input)="checkPass()"
          />
        </div>
        <div
          class="inputDiv"
          [ngClass]="{
            invalid:
              isPassMismatch ||
              (secondPassword.invalid && secondPassword.touched)
          }"
        >
          <svg>
            <use xlink:href="/assets/svgs/account.svg#password"></use>
          </svg>
          <input
            type="password"
            placeholder="Re-enter the password"
            minlength="6"
            required
            ngModel
            name="secondPassword"
            #secondPassword="ngModel"
            (input)="checkPass()"
          />
        </div>
        <p
          class="errMsg"
          *ngIf="
            isPassMismatch && firstPassword.touched && secondPassword.touched
          "
        >
          Password mismatch
        </p>
        <p
          class="errMsg"
          *ngIf="
            (firstPassword.invalid || secondPassword.invalid) &&
            secondPassword.touched &&
            firstPassword.touched
          "
        >
          Password minimum length is 6 characters
        </p>
        <p
          class="errMsg"
          *ngIf="isErrorOccured"
        >
          {{message}}
        </p>
        <button type="submit" class="resetBtn" *ngIf="!isErrorOccured">Reset</button>
      </form>
    </div>
  </div>
  <div
    class="innerDiv animate__animated animate__fadeIn"
    *ngIf="isPassResetted"
  >
    <div class="afterSubmition">
      <p>Password is resetted Successfully</p>
      <svg>
        <use xlink:href="/assets/svgs/account.svg#check"></use>
      </svg>
      <p class="description">
        You will redirect to login page after
        <span class="counter">{{ counter }}</span> seconds
      </p>
    </div>
  </div>
</div>
