<div class="navbar navbar-expand-md navbar-light" StickyOnTop #mainHeader>

  <header>
    <a class="navbar-brand">
      <svg>
        <use xlink:href="../../../assets/svgs/logo.svg#logo"></use>
      </svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler"
      aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
      <div toggleActive class="menu__toggler"><span></span></div>
    </button>

    <div class="headerActionDiv d-none d-md-flex">
      <div class="actionDiv searchDiv">
        <serachDropDown></serachDropDown>
      </div>
      <div ddHide [componentName]='"cart"' class="actionDiv cartDiv">
        <div (click)="toggleCart()">
          <svg>
            <use xlink:href="../../../assets/svgs/header.svg#cart"></use>
          </svg>
          <div class="countDiv">
            <p>0</p>
          </div>
        </div>
        <cart class="animate__animated animate__fadeIn animate__faster ddHide" [ngClass]="{'show':cartShown === true}">
        </cart>
      </div>
      <div class="actionDiv" routerLink='Account/signin'>
        <svg>
          <use xlink:href="../../../assets/svgs/header.svg#account"></use>
        </svg>
      </div>
    </div>
  </header>

  <nav class="collapse navbar-collapse" id="navToggler">
    <div class="navDiv">

      <ul class="navbar-nav d-block d-md-none">
        <!-- In mobile and tablet size only -->
        <div class="headerActionDiv">
          <div class="actionDiv searchDiv">
            <serachDropDown></serachDropDown>
          </div>
          <div class="actionDiv">
            <svg>
              <use xlink:href="../../../assets/svgs/header.svg#cart"></use>
            </svg>
          </div>
          <div class="actionDiv" routerLink='Account/signin'>
            <svg>
              <use xlink:href="../../../assets/svgs/header.svg#account"></use>
            </svg>
          </div>
        </div>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">English Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">كتب عربية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Childern</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Lifestyle</a>
        </li>
      </ul>
    </div>
  </nav>

</div>

<div #fixingHeightDiv></div>