@import "/src/styles/variables";

.cartDiv {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2;
  width: max-content;
  min-width: 320px;
  background: #fff;
  border-radius: 20px;
  border-bottom: 5px solid $light-primary-color;
  box-shadow: $shadow;
  padding: 0 10px;

  .cartItemsDiv {
    max-height: 300px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 20px 20px 0 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: $dark-primary-color;
    }
  }
  .noItemsDiv{
    svg{
      height: 200px;
      fill: #aaa;
    }
    p{
      font-size: 20px;
      text-align: center;
      padding-bottom: 10px;
      color: $primary-color;
    }
  }

  .totalDiv {
    border-top: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0px -10px;
    cursor: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 16px;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }

    a {
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $dark-primary-color;
      }
    }
  }
}
