<div class="outerDiv">
    <section>
        <h3>Bio</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptatum sint sit expedita qui fuga quaerat non ipsam quidem ut esse, et cum consequatur iure quos natus cumque nihil
            magnam.
        </p>
    </section>
    <section>
        <h3>Favourite</h3>
        <p>
            Drama, Romance, Science fiction
        </p>
    </section>
    <section>
        <h3>Location</h3>
        <p>
            Egypt, Alexandria
        </p>
    </section>
    <section>
        <h3>Contacts</h3>
        <p class="point">01156731303</p>
        <p class="point">moemen.said@gmail.com</p>
    </section>
</div>