@import "/src/styles/variables";

.outerSerach {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 0 15px;
    cursor: auto;
    position: relative;
    transition: all .2s ease-in-out;

    input[type=text] {
        border: none;
        font-size: 15px;
        padding: 7px 0px;
        color: #666;
        min-width: 300px;
        background: transparent;

        &:active,
        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder {
            color: #aaa;
        }
    }

    .searchIcon {
        stroke: #aaa;
        fill: #aaa;
        height: 27px;
        width: 27px;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            fill: $dark-primary-color;
            stroke: $dark-primary-color;
        }
    }

    &.focused {
        border-radius: 20px 20px 0px 0px;

        .searchedItemsDiv {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            padding: 10px;
            max-height: 350px;
            overflow-y: auto;
            background: #fff;
            position: absolute;
            width: calc(100% + 4px);
            top: 34px;
            left: 13px;
            border: 2px solid #ccc;
            border-top: 1px solid #eee;
            border-radius: 0 0 5px 5px;
        }
    }

    &>div:first-of-type {
        display: flex;
        align-items: center;
    }

    .searchedItemsDiv {
        display: none;
    }

}


@media(max-width:768px) {
    .outerSerach {
        width: 100%;

        input[type=text] {
            width: calc(100% - 30px);
            min-width: 100px;
        }
    }
}