<div class="outerDiv">
    <div class="innerDiv">
        <div class="imgDiv">
            <h2 class="welcomHeading">Welcome to Bookmark</h2>
            <img src="/assets/images/account.svg">
        </div>
        <div class="formDiv">
            <p>Create your account using</p>
            <div class="socialDiv">
                <button>
                    <svg>
                        <use xlink:href='/assets/svgs/account.svg#facebook'></use>
                    </svg>
                </button>
                <button>
                    <svg>
                        <use xlink:href='/assets/svgs/account.svg#google'></use>
                    </svg>
                </button>
            </div>
            <p class="orDivider">OR</p>
            <form>
                <div class="inputDiv">
                    <svg>
                        <use xlink:href='/assets/svgs/account.svg#user'></use>
                    </svg>
                    <input type="text" placeholder="Full name" autocomplete="username">
                </div>
                <div class="inputDiv">
                    <svg>
                        <use xlink:href='/assets/svgs/account.svg#email'></use>
                    </svg>
                    <input type="email" placeholder="Email" autocomplete="email">
                </div>
                <div class="inputDiv">
                    <svg>
                        <use xlink:href='/assets/svgs/account.svg#password'></use>
                    </svg>
                    <input type="password" placeholder="Password" autocomplete="current-password">
                </div>
                <button class="signUpBtn">SIGN UP</button>
                <div class="linksDiv">
                    <a routerLink='/Account/signin'>Already a Member ?</a>
                </div>
            </form>
        </div>
    </div>
</div>