.cartItem {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    cursor: default;

    img {
        width: 50px;
        height: 80px;
        border-radius: 3px;
    }

    p {
        font-size: 18px;
        color: #222;
        margin: 0 10px;
        display: block;

        &.bookAuthor,
        &.bookPrice {
            font-size: 16px;
            color: #555;
        }

    }

    &:hover {
        background-color: #eee;
    }

    .deleteDiv {
        align-self: stretch;
        margin: -10px -10px -10px 0;
        border-radius: 0px 5px 5px 0;
        transition: all .2s ease-in-out;

        svg {
            width: 25px;
            height: 100px;
            fill: #f44242;
            margin: 0px 10px;
            transition: all .2s ease-in-out;
            cursor: pointer;

        }

        &:hover {
            background-color: #f44242;
            svg {
                fill: #fff;
            }
        }
    }
}