
.sectionHeader {
    text-align: center;
    color: #333;
    font-size: 28px;
    font-weight: 600;
}
.booksContainer{
    display: flex;flex-wrap:wrap;justify-content: space-evenly;
    &-item{
        margin: 20px 10px;
    }
}

.row {
    flex-wrap: wrap;
    justify-content: center;

    &>div {
        margin: 10px 0;
    }
}
