@import "/src/styles/variables";

.booksRow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 20px;
  margin: 20px 0;

  & > div {
    margin: 20px 10px;
  }
}

.booksListRow {
  display: block;
}
:host ::ng-deep .booksListRow {
  background: unset;
  box-shadow: unset;
  padding: 0px;
  margin: 20px 0;

  & > div {
    margin: 20px 0px !important;
  }

  book-item {
    .book {
      max-width: unset;
      display: flex;
      align-items: flex-start;
      padding: 20px;
      &-img {
        max-width: 200px;
        border-radius: 20px;
      }
      &-data {
        position: static;
        width: unset;
      }
    }
  }
}

@media (max-width: 576px) {
  .booksRow {
    padding: 00px;
    margin: 20px -10px 0 -10px;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
}
