@import "/src/styles/variables";

.booksRow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 20px;
  margin: 20px 0;

  &>div{
      margin: 20px 10px;
  }
}

@media (max-width: 576px) {
  .booksRow {
    padding: 00px;
    margin: 20px -10px 0 -10px;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
}
