@import '/src/styles/_variables';

.otherAuthorSection{
    background: linear-gradient(135deg, $primary-color 40%,$dark-primary-color);
    margin: 60px 0;
    padding:50px 20px;

    .sectionHeader{
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 600;
    }
    .authorsContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}