@import "/src/styles/variables";

.outerDiv {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: $shadow;
  display: flex;
  align-items: stretch;

  .outerSerach {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    background-color: #fff;

    input[type="text"] {
      width: 100%;
      border: none;
      font-size: 17px;
      color: #666;
      background: transparent;

      &::placeholder {
        color: #aaa;
      }
    }

    .searchIcon {
      stroke: #aaa;
      fill: #aaa;
      height: 27px;
      width: 27px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        fill: $dark-primary-color;
        stroke: $dark-primary-color;
      }
    }
  }

  .searchOptions{
    display: flex;
    align-items: center;
  }

  .dropdown {
    &-toggle {
      width: 180px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #fff;
      border: 2px solid #ccc;
      border-radius: 15px;
      margin: 0px 15px;
      padding: 5px 10px;
      position: relative;

      span:first-child {
        font-size: 16px;
        background: #fff;
        color: #888;
      }
      span:nth-child(2) {
        color: #555;
        display: none;
      }

      &:focus {
        box-shadow: none;
      }
      &::after {
        background: url("/assets/images/dropdown.png");
        border: none;
        width: 16px;
        height: 13px;
        background-size: cover;
        vertical-align: unset;
      }
      &.selected {
        span:first-child {
          transform: translate(10px, -11px);
          font-size: 14px;
          font-weight: 600;
          position: absolute;
          left: 0;
          top: 0;
        }
        span:nth-child(2) {
          display: block;
        }
      }
    }

    &-menu {
      left: unset;
      right: 15px;
      top: 55px;
      border-radius: 15px;
      border: none;
      box-shadow: $shadow;
      padding: 20px 0;
      overflow: hidden;
      width: calc(100% - 30px);
    }

    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      &:active,
      &.active {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  .stylingDiV {
    width: max-content;
    margin: auto;
    button {
      all: unset;
      cursor: pointer;

      svg {
        transition: all .2s ease-in-out;
        height: 20px;
        width: 32px;
        fill: #aaa;
        &.active {
          fill: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .outerDiv {
    flex-wrap: wrap;
    .searchOptions {
      
      width: 100%;
      margin-top: 10px;
    }
    .dropdown {
      width: 70%;
      &-toggle {
        margin: 0;
        width: 100%;
        justify-content: center;
        align-items: baseline;

        span {
          margin-right: 10px;
        }
      }
    }
    .stylingDiV {
      width: 30%;
      display: flex;
      justify-content: center;
    }
  }
}
