<div class="outerDiv">
  <div class="outerSerach">
    <input type="text" placeholder="Serach by Title, Author" #searchInput />
    <svg class="searchIcon">
      <use xlink:href="/assets/svgs/icons.svg#search"></use>
    </svg>
  </div>

  <div class="searchOptions">
    <div ddHide [componentName]="'sort'" class="dropdown">
      <button class="btn dropdown-toggle" #ddBtn (click)="toggleSortMenu()">
        <span>Sort by</span>
        <span>{{sortSelectionTitle}}</span>
      </button>
      <ul #dropDownMenu class="dropdown-menu ddHide animate__animated animate__fadeIn animate__faster" [class]="{ show: isSortMenuShown }">
        <li><a class="dropdown-item" data-value="Price:High to Low" (click)="sortSelection($event)">Price:High to Low</a></li>
        <li><a class="dropdown-item" data-value="Price:Low to High" (click)="sortSelection($event)">Price:Low to High</a></li>
        <li><a class="dropdown-item" data-value="Rating:High to Low" (click)="sortSelection($event)">Rating:High to Low</a></li>
        <li><a class="dropdown-item" data-value="Rating:Low to High" (click)="sortSelection($event)">Rating:Low to High</a></li>
      </ul>
    </div>

    <div class="stylingDiV">
      <button class="d-md-none" (click)="showFilter()">
        <svg class="active">
          <use xlink:href="/assets/svgs/icons.svg#filter"></use>
        </svg>
      </button>
      <button (click)="changeShowStyle(true)"> 
        <svg [class]="{'active':isGridView}">
          <use xlink:href="/assets/svgs/icons.svg#grid"></use>
        </svg>
      </button>
      <button (click)="changeShowStyle(false)">
        <svg [class]="{'active':!isGridView}">
          <use xlink:href="/assets/svgs/icons.svg#list"></use>
        </svg>
      </button>
    </div>

  </div>
</div>