@import "/src/styles/variables";

.topRatedSection {
  margin: 70px 0px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &_title {
      font-size: 25px;
      font-weight: 600;
      color: #555;
      margin: 0;
    }

    &_link {
      color: $primary-color;
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.topBooksRow {
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px 10px;

  > div {
    max-width: 200px;
    z-index: 1;
  }

  &::-webkit-scrollbar {
    height: 7px;
  }
}

@media (max-width: 992px) {
  .col-12 {
    width: auto;
  }
}
