@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.inboxDiv {
    margin: 50px auto 0 auto;
    padding: 50px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 7px 11px -7px #333;

    &-header {
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        color: #555;
    }

    &-formDiv {
        margin: 40px auto 0px auto;
        width: max-content;

        &_form {
            input[type='email'] {
                font-size: 16px;
                padding: 10px 20px;
                width: 400px;
                border: 1px solid $primary-color;
                border-radius: 5px;
            }

            button {
                @include btnFormatter($primary-color, #fff);
                font-size: 16px;
                border-radius: 5px;
                margin-left: 10px;
                border: 1px solid $primary-color;
                box-shadow: 0px 5px 5px -3px #222;
            }
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../../../assets/images/inboxBackground.jpg);
        background-position: top;
        background-size: cover;
        z-index: -1;
    }
}

@media(max-width:768px) {
    .inboxDiv {
        padding: 50px 20px;

        &-header{
            font-size: 28px;
        }

        &-formDiv{
            width: 100%;
            &_form{
                input[type="email"]{
                    width: 100%;
                }
                button{
                    margin: 10px auto 0 auto;
                    display: block;
                }
            }
        }
    }
}