@import '../../../styles/mixins';
@import '../../../styles/variables';

.outerDiv {
    @include centeredFlexDiv;
    width: 100vw;
    margin-top: 30px;

    .innerDiv {
        background-color: #fff;
        padding: 20px 50px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #ccc;

        .formDiv {
            h1 {
                text-align: center;
                font-size: 30px;
                color: $primary-color;
                margin: 20px;
            }

            p {
                color: #888;
                text-align: center;
            }

            form {
                .inputDiv {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 5px 10px;
                    margin: 20px auto;
                    width: 300px;
                    border-bottom: 2px solid #aaa;

                    svg {
                        fill: $primary-color;
                        width: 20px;
                        height: 20px;
                    }

                    input {
                        border: none;
                        padding: 0px 15px;
                        font-size: 15px;
                        font-weight: 600;
                        background-color: transparent;
                        width: 100%;
                        color: #555;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .resetBtn {
                font-size: 16px;
                font-weight: 500;
                display: block;
                margin: 20px auto;
                background: linear-gradient(190deg, $dark-primary-color, $primary-color);
                padding: 10px 20px;
                color: #fff;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    box-shadow: 0px 4px 2px -2px #aaa;
                }

                &:focus {
                    outline: none;
                    transform: scale(.98);
                    box-shadow: none;
                }
            }

        }

        &.wrongEmailAlert {
            box-shadow: 0 0 10px #d03b3b;
        }
    }
}

@media(max-width:768px) {

    .outerDiv {
        .innerDiv {
            max-width: 90%;
            margin: 15px;
            padding: 10px 20px;


            .formDiv {
                width: 100%;

                form {
                    .inputDiv {
                        width: 80%;
                        max-width: 300px;

                        svg {
                            fill: $primary-color;
                            width: 20px;
                            height: 20px;
                        }

                        input {
                            padding: 0px 5px 0 15px;
                        }
                    }
                }
            }
        }
    }
}