<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-item-inner row">
                <div class="bookImgDiv col-12 col-md-6">
                    <div class="bookImgDiv-inner animate__animated animate__fadeIn animate__slow">
                        <div class="topSide"></div>
                        <div class="rightSide"></div>
                        <img src="../../../assets/images/books/1.jpg">
                    </div>
                </div>
                <div class="bookDetailDiv col-12 col-md-6">
                    <div class="animate__animated animate__fadeInRight">
                        <h1 class="bookName">George Bellairs Death</h1>
                        <h3 class="bookAuthor">Author: Moemen Said</h3>
                        <div class="bookDetails">
                            <p class="bookPrice">$20.00</p>
                            <!-- <div class="starsDiv">
                                <svg class="yellowStar" *ngFor="let x of yNumber">
                                    <use xlink:href="../../../assets/svgs/land.svg#star"></use>
                                </svg>
                                <svg class="greyStar" *ngFor="let x of gNumber">
                                    <use xlink:href="../../../assets/svgs/land.svg#star"></use>
                                </svg>
                            </div> -->
                        </div>
                        <button class="detailsBtn">View Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" *ngFor="let book of books.slice(1)">
            <div class="carousel-item-inner row">
                <div class="bookImgDiv col-12 col-md-6">
                    <div class="bookImgDiv-inner animate__animated animate__fadeIn animate__slow">
                        <div class="topSide"></div>
                        <div class="rightSide"></div>
                        <img src="{{book.src}}">
                    </div>
                </div>
                <div class="bookDetailDiv col-12 col-md-6">
                    <div class="animate__animated animate__fadeInRight">
                        <h1 class="bookName">{{book.name}}</h1>
                        <h3 class="bookAuthor">Author: {{book.author}}</h3>
                        <div class="bookDetails">
                            <p class="bookPrice">${{book.price}}</p>
                            <!-- <div class="starsDiv">
                                <svg class="yellowStar" *ngFor="let x of gNumber">
                                    <use xlink:href="../../../assets/svgs/land.svg#star"></use>
                                </svg>
                                <svg class="greyStar" *ngFor="let x of yNumber">
                                    <use xlink:href="../../../assets/svgs/land.svg#star"></use>
                                </svg>
                            </div> -->
                        </div>
                        <button class="detailsBtn">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="carouselControlDiv">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <div class="carouselControlDiv">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
    </a>
</div>

<div class="container-fluid featuresDiv">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="featureDiv">
                <svg style="min-width: 50px;">
                    <use xlink:href="../../../assets/svgs/land.svg#reading"></use>
                </svg>
                <div>
                    <h3>Online Reading</h3>
                    <p class="d-none d-md-block">access and read thousand of books online</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="featureDiv">
                <svg>
                    <use xlink:href="../../../assets/svgs/land.svg#offer"></use>
                </svg>
                <div>
                    <h3>Best Deals</h3>
                    <p class="d-none d-md-block">benefits of every month deal</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="featureDiv">
                <svg>
                    <use xlink:href="../../../assets/svgs/land.svg#creditCard"></use>
                </svg>
                <div>
                    <h3>Pay Easily</h3>
                    <p class="d-none d-md-block">easy pay with credit card</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="featureDiv">
                <svg style="min-width: 50px;">
                    <use xlink:href="../../../assets/svgs/land.svg#secure"></use>
                </svg>
                <div>
                    <h3>Secured Payment</h3>
                    <p class="d-none d-md-block">feel safe with secured connection payment</p>
                </div>
            </div>
        </div>
    </div>
</div>