@import './styles/variables';

body {
    margin: 0;
    background-color: #f0f0f0;
}

body * {
    font-family: 'Ubuntu', sans-serif !important;
    outline: none !important;
}

.mat-snack-bar-container{
    box-shadow: $shadow  !important;
    border-radius: 15px !important;
    background-color: #333;
    
    span{   
        color: #eee;  
        font-size: 16px !important;
    }
}