<div class="container-fluid mainContainer">
  <div class="row">
    <div class="col-lg-2 col-md-3 d-md-block d-none fixLeftPad">
      <div class="filterDiv">
        <search-filter></search-filter>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-12 fixRightPad">
      <div class="row">
        <div class="col-12">
          <search-input></search-input>
        </div>
        <div class="col-12">
          <searched-books></searched-books>
        </div>
      </div>
    </div>
  </div>
</div>
