<div class="outerDiv">
  <div class="innerDiv" [class]="{ error: errOccurred }">
    <div class="imgDiv">
      <svg class="icon">
        <use xlink:href="../../../../assets/svgs/icons.svg#logoIconOnly"></use>
      </svg>
      <svg class="text">
        <use xlink:href="../../../../assets/svgs/icons.svg#logoTextOnly"></use>
      </svg>
      <p class="slogan">One Step To Access Hundreds Of Books</p>
    </div>
    <div
      class="formDiv animate__animated"
      [class]="{ animate__headShake: errOccurred }"
    >
      <p>Create your account using</p>
      <div class="socialDiv">
        <!-- <button>
                    <svg>
                        <use xlink:href='/assets/svgs/icons.svg#facebook'></use>
                    </svg>
                </button> -->
        <button>
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#google"></use>
          </svg>
        </button>
      </div>
      <p class="orDivider">OR</p>
      <p
        class="errorMsg animate__animated"
        [class]="{ animate__bounceIn: errOccurred }"
      >
        {{ errMsg }}
      </p>

      <form (submit)="onSignUp(signupForm)" #signupForm="ngForm">
        <div class="inputDiv">
          <div class="type">
            <svg>
              <use xlink:href="/assets/svgs/icons.svg#user"></use>
            </svg>
            <p>Type:</p>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="reader"
              name="userType"
              value="reader"
              checked="checked"
              ngModel
            />
            <label class="form-check-label" for="reader">Reader</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="author"
              name="userType"
              value="author"
              ngModel
            />
            <label class="form-check-label" for="author">Author</label>
          </div>
        </div>
        <div
          class="inputDiv"
          [ngClass]="{ invalid: nameInput.invalid && nameInput.touched }"
        >
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#user"></use>
          </svg>
          <input
            type="text"
            placeholder="Full name"
            autocomplete="username"
            name="name"
            ngModel
            #nameInput="ngModel"
            required
            minlength="6"
          />
          <span class="invalidSapn">Please enter a valid Name </span>
        </div>
        <div
          class="inputDiv"
          [ngClass]="{ invalid: emailInput.invalid && emailInput.touched }"
        >
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#email"></use>
          </svg>
          <input
            type="email"
            placeholder="Email"
            autocomplete="email"
            name="email"
            email
            required
            ngModel
            #emailInput="ngModel"
          />
          <span class="invalidSapn">Please enter a Email </span>
        </div>
        <div
          class="inputDiv"
          [ngClass]="{ invalid: passInput.invalid && passInput.touched }"
        >
          <svg>
            <use xlink:href="/assets/svgs/icons.svg#password"></use>
          </svg>
          <input
            type="password"
            placeholder="Password"
            autocomplete="current-password"
            name="password"
            required
            minlength="6"
            ngModel
            #passInput="ngModel"
          />
          <span class="invalidSapn">Please enter a at least 6 characters</span>
        </div>
        <button class="signUpBtn" type="submit">SIGN UP</button>
        <div class="linksDiv">
          <a routerLink="/Account/signin">Already a Member ?</a>
        </div>
      </form>
    </div>
  </div>
</div>
