<footer>
    <div class="footerContent">
        <div class="container">
            <div class="inboxDiv">
                <h1 class="inboxDiv-header">
                    GET SPECIAL OFFERS IN YOUR INBOX
                </h1>
                <div class="inboxDiv-formDiv">
                    <form class="inboxDiv-formDiv_form">
                        <input type="email" autocomplete="email" placeholder="Enter your email">
                        <button>SUBSCRIBE</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-lg container-fluid">
            <div class="row">
                <div class="column col-12 col-lg-4 col-md-6">
                    <header>
                        <svg>
                            <use xlink:href="/assets/svgs/logo.svg#logo"></use>
                        </svg>
                    </header>
                    <main>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua</p>
                    </main>
                </div>
                <div class="column col-12 col-lg-4 col-md-6">
                    <header>
                        <svg class="icon">
                            <use xlink:href="/assets/svgs/footer.svg#share"></use>
                        </svg>
                        <h1>KEEP IN TOUCH</h1>
                    </header>
                    <main>
                        <a href="#">
                            <svg>
                                <use xlink:href="/assets/svgs/footer.svg#facebook"></use>
                            </svg>
                            facebook
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="/assets/svgs/footer.svg#twitter"></use>
                            </svg>
                            twitter
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="/assets/svgs/footer.svg#instagram"></use>
                            </svg>
                            instagram
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="/assets/svgs/footer.svg#linkedin"></use>
                            </svg>
                            linkedIn
                        </a>
                    </main>

                </div>
                <div class="column col-12 col-lg-4 col-md-12">
                    <header>
                        <svg class="icon">
                            <use xlink:href="/assets/svgs/footer.svg#information"></use>
                        </svg>
                        <h1>INFORMATION</h1>
                    </header>
                    <main>
                        <a class="link" href="#">About Us</a>
                        <a class="link" href="#">Terms & Condition</a>
                        <a class="link" href="#">Contact Us</a>
                        <a class="link" href="#">Blog</a>
                        <a class="link" href="#">FAQ</a>
                    </main>

                </div>
            </div>
        </div>
        <div class="copyrightDiv">
            <p>&copy; 2020 Bookmark. All Right Reserved</p>
        </div>
    </div>
</footer>