<div class="outerSerach" #outerSearch [ngClass]="{'focused':seachedItemsShown==true}">
    <div>
        <input type="text" placeholder="Serach by Title, Author" #searchedText (input)="search(searchedText)">
        <svg class="searchIcon">
            <use xlink:href="/assets/svgs/icons.svg#search"></use>
        </svg>
    </div>
    <div class="searchedItemsDiv animate__animated animate__fadeIn animate__faster">
        <search-item></search-item>
        <search-item></search-item>
    </div>
</div>